[submodule "vim"]
	path = vim
	url = git@github.com:mass/vimfiles.git
[submodule "zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh-calc"]
	path = zsh/plugins/calc
	url = https://github.com/arzzen/calc.plugin.zsh
[submodule "fasd"]
	path = zsh/plugins/fasd
	url = https://github.com/clvv/fasd
