[submodule "vim"]
	path = vim
	url = git@github.com:mass/vimfiles.git
[submodule "zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = git://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh-alias-tips"]
	path = zsh/plugins/alias-tips
	url = git://github.com/djui/alias-tips.git
[submodule "zsh-calc"]
	path = zsh/plugins/calc
	url = git://github.com/arzzen/calc.plugin.zsh.git
